.site-content {
	width: 90%;
	float: right;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}

/*====================================
=            Entry-Footer            =
====================================*/
.entry-footer {
	position: absolute; 
	padding: 0.5% 2%;
	width: 30%;
	bottom: 0;
	background: $green;
	border: 1px solid $blue;


	.footer-icon { 
		float: left;

		img {
			float: left;
			display: inline-block;
		}
	}

	.survey-link {
		float: left;
		display: inline-block;
		@include p;
		padding-top: 5%;
	}

	.survey-arrow {
		float: right;
		border-left: 2px dotted white;
	}
}



/*-----  End of Entry-Footer  ------*/