header.site-header {
	width: 10%;
	float: left;
	background: $sidebar-color;
	position: absolute;
	top: 0;
	bottom: 0;
}

.paint-image {
	background: url(images/sidebar-splat.png);
	background-position: left;
	width: 100%;
	height: 100%;
	margin: 0;
}