/*=========================================
=            Table of Contents            =
=========================================*/

// 01. Colors
// 02. Typography
// 03. Button

/*-----  End of Table of Contents  ------*/


/*==========  01 COLORS  ==========*/
$pink  		  : #C67DB3;
$blue  		  : #42A6BB;
$green 		  : #C5C23F; 

$dark-blue 	   : #052435;
$darkest-blue  : #041e2c;
$sidebar-color : #021119;

$light-grey      : #f2f2f2;
$mid-grey 	     : #e5e5e5;
$mid-grey-transp : rgba(229,229,229,0);
$text-grey 	     : #333;


/*==========  02. Typography  ==========*/
$open-sans : "Open Sans" , sans-serif;


body {
	font-size: 62.5%;
}

@mixin h1 {
	font-family: "Lucida Grande", sans-serif;
	font-size: 10rem;
	line-height: 7rem;
	width: 75%;
	margin: 0 auto;
	text-transform: uppercase;
	color: $green;
	font-style: normal;
}

@mixin h2-artist-name {
	font-family: "Lucida Grande", sans-serif;
	font-size: 7rem;
	font-weight: normal;
	text-transform: uppercase;
}

@mixin p {
	font-size: 4rem;
	line-height: 4rem;
	color: white;
	font-family: $open-sans;
}

/*==========  03. Button  ==========*/


@mixin button {
	width: 500px;
	height: 100px;
	text-align: center;
	border: 0;
	color: white;
	text-decoration: none;
	font-family: $open-sans; 
	font-size: 3.5rem;

	&:hover, &:focus {
		box-shadow: none;
		width: 475px;
		outline: 0;
		border: 0;
	}
}