/*=========================================
=            Table of Contents            =
=========================================*/

// 01. Colors
// 02. Typography
// 03. Button

/*-----  End of Table of Contents  ------*/


/*==========  01 COLORS  ==========*/
$pink  		  : #C67DB3;
$blue  		  : #42A6BB;
$green 		  : #C5C23F; 



$dark-blue 	   : #052435;
$darkest-blue  : #041e2c;
$sidebar-color : #021119;

$light-grey      : #f2f2f2;
$mid-grey 	     : #e5e5e5;
$mid-grey-transp : rgba(229,229,229,0);
$text-grey 	     : #333;
$such-grey		 : #848484;


/*==========  02. Typography  ==========*/
$open-sans : "Open Sans" , sans-serif;



body {
	font-size: 62.5%;
}

@mixin h1 {
	font-family: "Dosis", sans-serif;
	font-size: 5rem;
	line-height: 3.5rem;
	width: 75%;
	margin: 5% auto;
	text-transform: uppercase;
	color: $green;
	font-style: normal;
}

@mixin h2-artist-name {
	font-family: "Dosis", sans-serif;
	font-size: 2.5rem;
	line-height: 3.5rem;
	font-weight: normal;
	text-transform: uppercase;
}

@mixin h3 {
	font-family: "Dosis", sans-serif;
	font-size: 3rem;
	line-height: 4rem;
	font-weight: normal;
	text-transform: uppercase;
	color: $text-grey;
}

@mixin h4 {
	font-family: $open-sans;
	color: $text-grey;
	font-size: 1.8rem;
	line-height: 3rem;
	font-weight: bold;
}


@mixin p {
	font-size: 1.8rem;
	line-height: 3rem;
	color: white;
	font-family: $open-sans;
}

/*==========  03. Button  ==========*/


@mixin button {
	width: 250px;
	height: 50px;
	text-align: center;
	border: 0;
	color: white;
	text-decoration: none;
	font-family: $open-sans; 
	font-size: 2rem;

	&:hover, &:focus {
		box-shadow: none;
		outline: 0;
		border: 0;
	}
}