/*=================================
=            Home Page            =
=================================*/

img.home-tent {
	margin: 0 auto;
	display: block;
	padding-left: 10%;
	padding-right: 5%;
	}

article.home {
	width: 100%;
}

.home h2 {
	@include h1;
	text-align: center;
	margin: 1% auto;
	margin-bottom: 8%;
}

/*-----  End of Home Page  ------*/


/*==============================
=            Survey            =
==============================*/

.entry-content.survey{
	padding: 5% 10%;
}

article.page {
	width: 100%;
	height: 100%;
}

/*-----  End of Survey  ------*/

/*====================================
=            Artists Page            =
====================================*/


h2.entry-title {
	@include h2-artist-name;
	border-bottom: 7px solid white;
	padding-bottom: 10%;
}

.entry-header {
	padding: 10%;
}

.artist {
	width: 450px;
	position: relative;

	h2 {
		@include h2-artist-name;
		margin-bottom: 5%;
	}
}

td:nth-of-type(3n+1) .artist h2, td:nth-of-type(3n+1) .artist h4{
	color: $green;
}

td:nth-of-type(3n+2) .artist h2, td:nth-of-type(3n+2) .artist h4{
	color: $pink;
}

td:nth-of-type(3n+3) .artist h2, td:nth-of-type(3n+3) .artist h4{
	color: $blue;
}

td:nth-of-type(3n+1) .entry-footer{
	background: $green;
}

td:nth-of-type(3n+2) .entry-footer{
	background: $pink;
}

td:nth-of-type(3n+3) .entry-footer{
	background: $blue;
}

td:nth-of-type(2n+1){
	background: $dark-blue;
}

td:nth-of-type(2n+2) {
	background: $darkest-blue;
}

article {
	width: 24750px;
	height: 748px;
	overflow: hidden;
}

td {
	float: left;
	position: relative;
	display: block;
	height: 748px;
}

.artistimg {
	width: 100%;
	height: 450px;
}

img.attachment-large {
	min-width: 450px;
}

.artist-text {
	margin: 5%;
	padding-bottom: 20%;

	p {
		font-style: italic;
	}
}

/*==========  Artist Bio Modal  ==========*/

.artist-bio {
	background: $light-grey;
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 450px;

	h3 {
		@include h3;
		margin: 25% 0 0 10%;
	}

	p{
		color: $text-grey;
		margin: 2% 10% 0 10%;
		font-size: 1.4rem;
	}

	h4 {
		@include h4;
		margin: 5% 10% 0 10%;
	}
}

.scrolly {
	overflow-y: scroll;
	height: 88%;
}


.close-btn {
	position: absolute; 	
	width: 450px;
	bottom: 0;
	background: $mid-grey;
	float: right;
	padding: 1%;
	cursor: pointer;

	p, img {
		float: right;
		display: inline-block;
	}

	img {
		margin-right: 5%;
		width: 35px;
		margin-right: 5%;
	}

	p {
		float: left;
		text-transform: uppercase;
		color: $such-grey;
		font-weight: 700;
		padding: 3.5% 0 4% 0;
		margin-left: 75%;
		margin-right: 0;
	}
}


/*-----  End of Artists Page  ------*/

/*==========  Survey Ad Page  ==========*/

.artist.ad {
	h2 {
		margin: 30% 10% 0 10%;
		padding-bottom: 5%;
		border-bottom: 3px solid;
	}
	p {
		font-style: italic;
		margin: 10% 10% 0 10%;
	}
}



.sticky {
}
.hentry {
	margin: 0;

}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}




.page-content,
.entry-content,
.entry-summary {
	//margin: 1.5em 0 0;
	position: relative;
	margin: 0 auto;
	@include p;
}

.entry-content.home {
	width: 80%;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}