/*=================================
=            Home Page            =
=================================*/

img.home-tent {
	margin: 0 auto;
	display: block;
	padding-left: 10%;
	}

article.home {
	width: 100%;
}

/*-----  End of Home Page  ------*/


/*==============================
=            Survey            =
==============================*/

.entry-content.survey{
	padding: 5% 10%;
}

article.page {
	width: 100%;
}

/*-----  End of Survey  ------*/

/*====================================
=            Artists Page            =
====================================*/


h2.entry-title {
	@include h2-artist-name;
	font-size: 4rem;
	line-height: 5rem;
	border-bottom: 7px solid white;
	padding-bottom: 10%;
}

.entry-header {
	padding: 10%;
}

.entry-content.artists {
	margin-left: 10%;

	p {
		font-style: italic;
	}
}

article {
	width: 550px;
	float: left;
}

td {
	vertical-align: top;
}

.post:nth-of-type(n+1) h2.entry-title {
	color: $green; 
}

.post:nth-of-type(n+2) h2.entry-title {
	color: $pink; 
}



/*-----  End of Artists Page  ------*/
.sticky {
}
.hentry {
	margin: 0 0 1.5em;

}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}




.page-content,
.entry-content,
.entry-summary {
	//margin: 1.5em 0 0;
	position: relative;
	margin: 0 auto;
	@include p;
}

.entry-content.home {
	width: 80%;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}